@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-carousel banner-carousel-2 mb-0">
    <div class="banner-carousel-item" style="background-image:url(images/slider-main/bg4.jpg)">
        <div class="container">
            <div class="box-slider-content">
                <div class="box-slider-text">
                    <h2 class="box-slide-title"></h2>
                    <h3 class="box-slide-sub-title">O Software de para Gestão dos seus projetos de arquitetura</h3>
                    <p class="box-slide-description">
                        Substitua uma infinidade de serviços e aplicativos por um único 
                        ecossistema para o seu negócio funcionar. Explore as ferramentas da ArquiTech
                    </p>
                    
                </div>
            </div>
        </div>
    </div>

    
</div>

<section class="call-to-action no-padding">
    <div class="container">
        <div class="action-style-box">
            <div class="row">
                <div class="col-md-8 text-center text-md-left">
                    
                </div><!-- Col end -->
                <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
                    
                </div><!-- col end -->
            </div><!-- row end -->
        </div><!-- Action style box -->
    </div><!-- Container end -->
</section><!-- Action end -->

<section id="ts-features" class="ts-features pb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/services/servico1.jpeg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                       <!--     <img loading="lazy" src="images/icon-image/icon1.png" alt="service-icon" />  -->
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Tarefas e Gerenciamento de Projetos</a></h3>
                            <p >As tarefas podem ser atribuídas a um membro da equipe ou delegadas após serem recebidas. Os recursos
                                de gerenciamento de projeto do produto estão incorporados nos "grupos".
                                Todo projeto tem um espaço virtual onde todas as tarefas, discussões e arquivos relacionados
                                são armazenados e podem ser acessados pelos participantes. </p>
                            <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                        </div>
                    </div>
                </div><!-- Service1 end -->
            </div><!-- Col 1 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="~/images/services/servico2.jpeg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                     <!--       <img loading="lazy" src="images/icon-image/service-icon2.png" alt="service-icon" /> -->
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Gestão do Tempo</a></h3>
                            <p>O tempo gasto em cada tarefa dentro do projeto pode ser acompanhado e as tarefas são integradas ao calendário do grupo. 
                            Você também pode gerenciar as horas de trabalho dos seus funcionários usando nosso relógio de ponto on-line integrado..</p>
                            <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                        </div>
                    </div>
                </div><!-- Service2 end -->
            </div><!-- Col 2 end -->

            <div class="col-lg-4 col-md-6 mb-5">
                <div class="ts-service-box">
                    <div class="ts-service-image-wrapper">
                        <img loading="lazy" class="w-100" src="images/services/servico3.jpeg" alt="service-image">
                    </div>
                    <div class="d-flex">
                        <div class="ts-service-box-img">
                   <!--         <img loading="lazy" src="images/icon-image/service-icon3.png" alt="service-icon" />   -->
                        </div>
                        <div class="ts-service-info">
                            <h3 class="service-box-title"><a href="service-single.html">Quadro Kanban</a></h3>
                            <p>A visualização Kanban está disponível para tarefas e projetos (grupos de trabalho), bem como dentro do planejador de tarefas.
                            Fiel à abordagem de gerenciamento de projeto Agile, as etapas Kanban são totalmente personalizáveis e podem ser definidas por cada usuário individualmente .</p>
                            <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a>
                        </div>
                    </div>
                </div><!-- Service3 end -->
            </div><!-- Col 3 end -->
        </div><!-- Content row end -->
    </div><!-- Container end -->
</section><!-- Feature are end -->



<section id="ts-service-area" class="ts-service-area pb-0">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2 class="section-title">Somos especialistas </h2>
                <h3 class="section-sub-title">EM O QUE NÓS FAZEMOS
                </h3>
            </div>
        </div>
        <!--/ Title row end -->

        <div class="row">
            <div class="col-lg-4">
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="images/icon-image/service-icon1.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3>CONSTRUÇÃO DE CASAS E APARTAMENTOS</h3>
                        
                    </div>
                </div><!-- Service 1 end -->

                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="images/icon-image/service-icon2.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 >REMODELAÇÕES DE EDIFICIOS</h3>
                    </div>
                </div><!-- Service 2 end -->

                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="images/icon-image/service-icon3.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3 >DESIGN INTERIOR</h3>
                    </div>
                </div><!-- Service 3 end -->

            </div><!-- Col end -->

            <div class="col-lg-4 text-center">
                <img loading="lazy" class="img-fluid" src="images/services/service-center.jpg" alt="service-avater-image">
            </div><!-- Col end -->

            <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="images/icon-image/service-icon4.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3>DESIGN EXTERIOR</h3>
                    </div>
                </div><!-- Service 4 end -->

                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="images/icon-image/service-icon5.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3>RENOVAÇÃO</h3>
                    </div>
                </div><!-- Service 5 end -->

                <div class="ts-service-box d-flex">
                    <div class="ts-service-box-img">
                        <img loading="lazy" src="images/icon-image/service-icon6.png" alt="service-icon">
                    </div>
                    <div class="ts-service-box-info">
                        <h3>GESTÃO DE SEGURANÇA</h3>
                    </div>
                </div><!-- Service 6 end -->
            </div><!-- Col end -->
        </div><!-- Content row end -->

    </div>
    <!--/ Container end -->
</section><!-- Service end -->





<section class="subscribe no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="subscribe-call-to-acton">
                    <h3>Podemos Ajudar?</h3>
                    <h4>(+351) 937069200</h4>
                </div>
            </div><!-- Col end -->

        </div><!-- Content row end -->
    </div>
    <!--/ Container end -->
</section>
<!--/ subscribe end -->
<!--/ News end -->
