@model Gestao_de_Projetos.Models.Membros
<div class="form-group">
    <label asp-for="MembrosID" class="control-label">Membros</label>
    <select asp-for="MembrosID" class="form-control" asp-items="ViewBag.MembrosID"></select>
</div>